################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AbstractFactory/bin/Debug
/AbstractFactory/obj/Debug
/AbstractMethod/bin/Debug
/AbstractMethod/obj/Debug
/BehavioralPatternsTest/bin/Debug
/BehavioralPatternsTest/obj/Debug
/Builder/bin/Debug
/Builder/obj/Debug
/ChainOfResponsibility/bin/Debug
/ChainOfResponsibility/obj/Debug
/CreationalPatternsTest/bin/Debug
/CreationalPatternsTest/obj/Debug
/DependencyInversion/bin/Debug
/DependencyInversion/obj/Debug
/DesignPatterns/bin/Debug
/DesignPatterns/obj/Debug
/EnterprisePatternsTest/obj/Debug
/Factory/bin/Debug
/Factory/obj/Debug
/InterfaceSegregation/bin/Debug
/InterfaceSegregation/obj/Debug
/LiskovSubstitution/bin/Debug
/LiskovSubstitution/obj/Debug
/Observer/bin/Debug
/Observer/obj/Debug
/OpenClosed/bin/Debug
/OpenClosed/obj/Debug
/Prototype/bin/Debug
/Prototype/obj/Debug
/RepositoryPattern/bin/Debug
/RepositoryPattern/obj/Debug
/SingleResponsibility/bin/Debug
/SingleResponsibility/obj/Debug
/Singleton/bin/Debug
/Singleton/obj/Debug
/SOLIDTests/bin/Debug
/SOLIDTests/obj/Debug
/TestResults
/EnterprisePatternsTest/bin/Debug
/.vs/DesignPatterns/v14
